.page {
  // .page__header
  &__header {
    padding-top: rem(30);
    margin-bottom: rem(30);
  }
}
.catalog {
  @include adaptiveValue("padding-bottom", 120, 40);
  // .catalog__container
  &__container {}
  // .catalog__body
  &__body {
    display: grid;
    gap: rem(30);
    align-items: start;
    @media (min-width: 992px) {
			grid-template-columns: rem(375) 1fr;
		}
  }
  // .catalog__filter
  &__filter {}
  // .catalog__content
  &__content {}
  // .catalog__control
  &__control {
    display: flex;
    justify-content: flex-end;
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }
  // .catalog__products
  &__products {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fill, minmax(rem(290), rem(375)));
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 60, 30);
    }
  }
  // .catalog__footer
  &__footer {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
  // .catalog__more
  &__more {}
  // .catalog__pagging
  &__pagging {}
}
// ==================================================================================
.filter-catalog {
  background: #fefefe;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  // .filter-catalog__title
  &__title {
    width: 100%;
		background-color: #141414;
		font-weight: bold;
		font-size: rem(20);
		line-height: math.div(24, 20);
		padding: rem(20) rem(30);
		color: #fff;
  }
  // .filter-catalog__items
  &__items {
    @media (max-width: 992px) {
			display: none;
			&._active {
				display: block;
			}
		}
  }
  // .filter-catalog__price
  &__price {}
  // .filter-catalog__item
  &__item {}
}
.price-filter {
  padding: rem(30);
  // .price-filter__title
  &__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		width: 100%;
		&::before {
			color: #E8AA31;
			font-size: rem(8);
			transform: rotate(-180deg);
			transition: transform 0.3s ease 0s;
		}
		&._spoller-active {
			&::before {
				transform: rotate(0deg);
			}
		}
  }
  // .price-filter__body
  &__body {
    padding: rem(30) 0px 0px 0px;
  }
  // .price-filter__inputs
  &__inputs {
    display: flex;
		border: 1px solid #cbcbcb;
		border-radius: rem(3);
		overflow: hidden;
		&:not(:last-child) {
			margin-bottom: rem(60);
		}
  }
  // .price-filter__input
  &__input {
		padding: 0px rem(15);
    width: 50%;
		height: rem(42);
		text-align: center;
		&:not(:last-child) {
			border-right: 1px solid #cbcbcb;
		}
  }
  // .price-filter__range
  &__range {}
}
.item-filter-catalog {
  // .item-filter-catalog__title
  &__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		padding: rem(13) rem(30);
		width: 100%;
    background-color: #141414;
		color: #fff;
		&::before {
			color: #E8AA31;
			font-size: rem(8);
			transform: rotate(-180deg);
			transition: transform 0.3s ease 0s;
		}
		&._spoller-active {
			&::before {
				transform: rotate(0deg);
			}
		}
  }
  // .item-filter-catalog__body
  &__body {
    padding: rem(30);
  }
  // .item-filter-catalog__checkbox
  &__checkbox {
    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }
}
