.footer {
  background-color: #141414;
}
.title-footer {
  @include adaptiveValue("padding-top", 60, 40);
	@include adaptiveValue("padding-bottom", 60, 40);
  background: url("../img/footer/bg.jpg") top / cover no-repeat ;
  // .title-footer__title
  &__title {
    text-align: center;
    color: #E8AA31;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 24);
    line-height: math.div(46, 30);
    letter-spacing: 0.05em;
    &:not(:last-child) {
			margin-bottom: em(30, 30);
		}
  }
  // .title-footer__descr
  &__descr {
    color: #FFFFFF;
    font-weight: 500;
    @include adaptiveValue("font-size", 18, 16);
    line-height: math.div(27, 18);
    letter-spacing: 0.03em;
  }
}
.body-footer {
  @include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 50, 40);
	display: grid;
	@include adaptiveValue("gap", 35, 25);
  // .body-footer__row
  &__row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		column-gap: rem(40);
		@include adaptiveValue("row-gap", 40, 20);
    &:not(:last-child) {
			padding-bottom: rem(30);
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}
  }
  // .body-footer__bottom
  &__bottom {
    color: rgba(255, 255, 255, 0.8);
    font-size: rem(14);
    line-height: math.div(27, 14);
    @media (min-width: em(1200)) {
			display: flex;
			justify-content: space-between;
			gap: rem(20);
		}
  }
  // .body-footer__rules
  &__rules {
    max-width: rem(820);
  }
  // .body-footer__copy
  &__copy {
    span {
			white-space: nowrap;
		}
  }
}
.spoller-footer {
  // .spoller-footer__title
  &__title {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    line-height: math.div(22, 18);
    ._spoller-init & {
      display: flex;
      justify-content: space-between;
      gap: rem(10);
      width: 100%;
      &::after {
        content: "\e900";
        margin-top: em(7, 9);
        font-size: rem(9);
				transition: transform 0.3s ease 0s;
        @extend %ic
      }
      &._spoller-active {
        &::after {
          transform: rotate(-180deg);
        }
      }
    }
  }
  // .spoller-footer__body
  &__body {
    @include adaptiveValue("padding-top", 30, 20);
    @include adaptiveValue("padding-bottom", 30, 20);
  }
  // spoller-footer__text
  &__text {
    max-width: rem(320);
    color: #FFFFFF;
    line-height: math.div(27, 18);
    a {
      color: #E8AA31;
    }
  }
}
.menu-footer {
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 32, 20);
  }
  // .menu-footer__list
  &__list {}
  // .menu-footer__item
  &__item {
    display: flex;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);
    &:not(:last-child) {
      margin-bottom: em(20, 18);
		}
    &::before {
      font-size: rem(19);
      margin: em(5, 15) em(10, 15) 0 0;
		}
  }
  // .menu-footer__link
  &__link {
    display: inline-flex;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    line-height: math.div(27, 18);
    &::before {
      font-size: rem(20);
      margin: em(5, 15) em(10, 15) 0 0;
		}
  }
}
.social-footer {
  display: flex;
  gap: rem(22);
  // .socaial-footer__item
  &__item {}
  // .social-footer__link
  &__link {}
}
.footer-subscribe {
  // .footer-subscribe__label
  &__label {
    display: block;
    color: #FFFFFF;
    line-height: math.div(22, 18);
    &:not(:last-child) {
      margin-bottom: em(10, 18);
		}
  }
  // footer-subscribe__line
  &__line {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
  }
  // .footer-subscribe__input
  &__input {
    padding: 0 rem(20);
    width: 100%;
    height: rem(48);
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF;
    border-right: none;
  }
  // .footer-subscribe__button
  &__button {
    display: flex;
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8AA31;
    &::before {
      color: #FFFFFF;
      font-size: rem(8);
      transform: rotate(-90deg);
    }
  }
}



